opencv-python
numpy
pandas
pyyaml
streamlit
onnxruntime
motmetrics
filterpy
scikit-learn
tqdm
matplotlib
seaborn
onnx\nonnxruntime\nmotmetrics
fastapi
uvicorn[standard]
python-multipart
pillow
aiofiles
